.vscode/**
.vscode-test/**
.github/**
src/**
test-data/**
out/test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
rawviewer-*.vsix
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
images/*.svg
